name: ci
on: [push, pull_request]
jobs:
  ruby:
    strategy:
      matrix:
        ruby: [2.5.x, 2.6.x, 2.7.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: |
        gem install bundler
        bundle install
        bundle exec rake test
